@use "sass:map";
$primary: #ff971f;
@import "../node_modules/bootstrap/scss/bootstrap";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");


$result-padding: 0px;
$body-bg: #fff;
$group-colors: (
    "1": lighten($primary, 50%),
    "2": lighten($primary, 30%),
    "3": $primary,
    "4": darken($primary, 15%),
    "5": darken($primary, 30%),
    "6": #cecece,
);

// Bootstrap font stack
$font-family-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;


@mixin main($group-colors, $body-bg, $text-color, $grey-contrasts, $text-color-dark) {
    .j-0sdw_dd32-w3d_-fff3-2f-_F_Ff_Dfas {
        border: 2px solid #333;
        width: calc(100% - 2 * $result-padding);
        margin: 0 auto;
        min-height: 300px;
        overflow: auto;
        padding: $result-padding;
        height: 200px;
        background-color: #fff;
    }
    & {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px;
    }

    main{
        padding: 0;
    }

    .output {
        font-family: 'Consolas', 'Courier New', Courier, monospace;
    }
    .not-result {

        * {
            font-family: $font-family-sans-serif;
            color: $text-color
        }


        /*
        .build-page-btn,
        .theming-btn {
            display: inline-block;
            width: fit-content;
            background-color: map.get($group-colors, "1");
            font-size: 18px;
            border-radius: 5px;
            border: 1px solid map.get($grey-contrasts, "3");
            box-shadow: 5px 6px 10px 0px rgba(0, 0, 0, 0.09);
            margin-bottom: 10px;
            padding: 6px 8px;
            cursor: pointer;
            text-decoration: none;
            color: $text-color;

            &:hover {
                opacity: 0.85;
            }
        }
        */

        .theming-btn {
            background-color: map.get($group-colors, "6");
        }

        .builder-wrapper {
            width: 40%;
        }

        .build-section * {
            font-family: 'Consolas', 'Courier New', Courier, monospace;
            font-size: 13px;
        }

        .tabs {
            display: flex;
            list-style: none;
            padding: 0;
            margin: 0;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            overflow: hidden;
        }

        .tab {
            flex: 1;
            text-align: center;
            padding: 10px;
            cursor: pointer;
            background-color: map.get($grey-contrasts, "1");
            border: 1px solid map.get($grey-contrasts, "3");
        }

        .tab:hover {
            background-color: rgba($primary, .5);
            border: 1px solid map.get($grey-contrasts, "2");
        }

        .active {
            border: 1px solid map.get($grey-contrasts, "3");
        }

        .css-menu,
        .html-menu,
        .attrs-menu {
            width: 316px !important;
            height: 270px !important;
            border: 1px solid map.get($grey-contrasts, "2");
            padding: 10px;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            overflow-y: scroll;
        }

        .add-el-btn,
        .css-menu button {
            width: 100%;
            padding: 5px;
            border-radius: 5px;
            border: 1px solid map.get($grey-contrasts, "2");
            margin-top: 5px;
            cursor: pointer;

            &,
            * {
                font-size: 14px;
            }
        }

        .add-el-btn:hover,
        .css-menu button:hover {
            transition-duration: 0.1s;
            opacity: 0.7;
        }


        .container {
            min-height: 70px;
            padding: 5px;
            border: 1px solid map.get($grey-contrasts, "2");
        }

        .container-in {
            max-width: 550px;
            min-height: 30px;
            padding: 2px 10px;
            border: 1px solid map.get($grey-contrasts, "2");
            background-color: map.get($grey-contrasts, "1");
        }

        .container-small {
            max-width: 550px;
            min-height: 20px;
            padding: 2px 10px;
            border: 1px solid map.get($grey-contrasts, "2");
            background-color: map.get($grey-contrasts, "1");
        }

        .draggable,
        .draggable-s {
            position: relative;
            max-width: 550px;
            border: 1px solid map.get($grey-contrasts, "2");
            background-color: map.get($grey-contrasts, "1");
            border-radius: 5px;
            padding: 2px 0;
            box-shadow: 5px 6px 2px 0px rgba(0, 0, 0, 0.15);
            margin-top: 3px;
        }

        .text-draggable {
            padding: 2px;
            border: 1px solid map.get($grey-contrasts, "2");
            background-color: map.get($grey-contrasts, "1");
            max-width: 550px;
            display: flex;
            justify-content: center;
        }

        .text-input {
            width: 100%;
        }

        .draggable.dragging {
            opacity: .5;
            box-shadow: none;
        }

        .body {
            background-color: map.get($group-colors, "1");
            > span{
                color: $text-color-dark;
            }
        }

        .heading {
            background-color: map.get($group-colors, "2");
        }

        .block {
            background-color: map.get($group-colors, "3");
        }

        .inline {
            background-color: map.get($group-colors, "4");
        }

        .lists {
            background-color: map.get($group-colors, "5");
        }

        .text {
            background-color: map.get($group-colors, "6");
        }

        .build-section {
            display: flex;
            padding: 10px;
        }

        .css-builder {
            width: 32%;
            margin-right: 10px;
            flex-grow: 1;
        }

        .style-holder {
            background-color: map.get($group-colors, "6");
            padding: 4px;
        }

        .style-holder .container-in {
            margin: 5px;
        }

        .style {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 4px;
        }

        .style-block-add-btn {
            background-color: map.get($group-colors, "6");
        }

        .j-0sdw_dd32-w3d_-fff3-2f-_F_Ff_Dfas main {
            min-height: 300px;
            display: block;
        }

        .styles-input {
            width: 150px;
            margin-left: 4px;

        }

        .selected {
            opacity: 0.85;
            border: 2px solid black;
            box-shadow: 5px 6px 12px 0px rgba(0, 0, 0, 0.35);
        }

        .attr-input {
            display: inline;
            width: 100px;
        }

        .container-attr {
            min-height: 10px;
            border: 1px solid map.get($grey-contrasts, "2");
            background-color: map.get($grey-contrasts, "1");
        }

        .draggable-attr {
            display: block;
            padding-inline: 5px;
            width: fit-content;
        }

        .body-holder {
            margin-left: 10px;
        }

        .d-none {
            display: none;
        }

        .toggle-btn {
            border: none;
            background-color: transparent;
            bottom: 0;
            height: 17px;
            cursor: pointer;

            &:hover {
                color: map.get($grey-contrasts, "1");
            }
        }

        .style-direction-select {
            width: 90px;
            margin-left: 0;
        }

        textarea, input {
            resize: vertical;
            background-color: map.get($grey-contrasts, "1");
            border: map.get($grey-contrasts, "2");
        }
    }

    @media (max-width: 1100px){
        .build-section{
            flex-direction: column;
        }
        .builder-wrapper{
            width: 100% !important;
        }
        .draggable, .draggable-s{
            max-width: 100% !important; 
        }
        #nav-tabContent{
            width: fit-content;
        }
        .css-builder{
            width:  100% !important;
        }
        .container, .container-in{
            max-width: 100% !important;
        }
        .body-holder{
            margin-left: 0 !important;
        }
    }
}

// === LIGHT THEME SETTINGS

html[data-bs-theme="light"] {
    $body-bg: #fff;
    $text-color: #211529;
    $text-color-dark: $text-color;

    /*
    $group-colors: ("1": rgb(154, 192, 246),
        "2": rgb(235, 184, 184),
        "3": rgb(137, 200, 137),
        "4": rgb(237, 207, 151),
        "5": rgb(186, 175, 207),
        "6": #cecece,
    );
    */
    $group-colors: (
        "1": lighten($primary, 20%),
        "2": lighten($primary, 10%),
        "3": $primary,
        "4": darken($primary, 5%),
        "5": darken($primary, 15%),
        "6": #b0b0b0,
    );
    $grey-contrasts: ("1": darken($body-bg, 5%),
        "2": darken($body-bg, 30%),
        "3": darken($body-bg, 45%),
    );

    body {
        background-color: $body-bg;
    }

    @include main($group-colors, $body-bg, $text-color, $grey-contrasts, $text-color-dark);
}

// === DARK THEME SETTINGS ===

html[data-bs-theme="dark"] {
    $body-bg: #212529;
    $text-color: #f8f9fa;
    $text-color-dark: $body-bg;
    /*
    $group-colors: ("1": rgb(64, 85, 115),
        "2": rgb(166, 92, 92),
        "3": rgb(58, 126, 58),
        "4": rgb(140, 111, 59),
        "5": rgb(91, 74, 123),
        "6": #787878,
    );*/
    $group-colors: (
        "1": $primary,
        "2": darken($primary, 5%),
        "3": darken($primary, 15%),
        "4": darken($primary, 30%),
        "5": darken($primary, 35%),
        "6": #787878,
    );
    $grey-contrasts: ("1": lighten($body-bg, 15%),
        "2": lighten($body-bg, 30%),
        "3": lighten($body-bg, 45%),
    );

    body {
        background-color: $body-bg;
    }

    @include main($group-colors, $body-bg, $text-color, $grey-contrasts, $text-color-dark);
}